/.vscode
/output
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-809e16bf7b2d62ce7701.json
build/.cmake/api/v1/reply/cmakeFiles-v1-c1b03187566fca61b77c.json
build/.cmake/api/v1/reply/codemodel-v2-e5bd8ab76bb7dcbc68c6.json
build/.cmake/api/v1/reply/directory-.-Release-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2025-06-10T03-13-14-0093.json
build/.cmake/api/v1/reply/target-robot-Release-06cada77ed4ea9b45191.json
build/.cmake/api/v1/reply/target-tdcr_sim-Release-4353ebc5560b8fc4ed5f.json
build/.cmake/api/v1/reply/toolchains-v1-e5a0f4b1e58d47556da2.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.31.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.31.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.31.2/CMakeSystem.cmake
build/CMakeFiles/3.31.2/CompilerIdCXX/a.out
build/CMakeFiles/3.31.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/libtdcr.dir/build.make
build/CMakeFiles/libtdcr.dir/cmake_clean.cmake
build/CMakeFiles/libtdcr.dir/compiler_depend.internal
build/CMakeFiles/libtdcr.dir/compiler_depend.make
build/CMakeFiles/libtdcr.dir/compiler_depend.ts
build/CMakeFiles/libtdcr.dir/depend.make
build/CMakeFiles/libtdcr.dir/DependInfo.cmake
build/CMakeFiles/libtdcr.dir/flags.make
build/CMakeFiles/libtdcr.dir/link.d
build/CMakeFiles/libtdcr.dir/link.txt
build/CMakeFiles/libtdcr.dir/progress.make
build/CMakeFiles/libtdcr.dir/src/pybindings.cpp.o
build/CMakeFiles/libtdcr.dir/src/pybindings.cpp.o.d
build/CMakeFiles/robot.dir/build.make
build/CMakeFiles/robot.dir/cmake_clean.cmake
build/CMakeFiles/robot.dir/compiler_depend.internal
build/CMakeFiles/robot.dir/compiler_depend.make
build/CMakeFiles/robot.dir/compiler_depend.ts
build/CMakeFiles/robot.dir/depend.make
build/CMakeFiles/robot.dir/DependInfo.cmake
build/CMakeFiles/robot.dir/flags.make
build/CMakeFiles/robot.dir/link.d
build/CMakeFiles/robot.dir/link.txt
build/CMakeFiles/robot.dir/progress.make
build/CMakeFiles/robot.dir/src/pybindings.cpp.o
build/CMakeFiles/robot.dir/src/pybindings.cpp.o.d
build/CMakeFiles/tdcr_sim.dir/build.make
build/CMakeFiles/tdcr_sim.dir/cmake_clean.cmake
build/CMakeFiles/tdcr_sim.dir/compiler_depend.internal
build/CMakeFiles/tdcr_sim.dir/compiler_depend.make
build/CMakeFiles/tdcr_sim.dir/compiler_depend.ts
build/CMakeFiles/tdcr_sim.dir/depend.make
build/CMakeFiles/tdcr_sim.dir/DependInfo.cmake
build/CMakeFiles/tdcr_sim.dir/flags.make
build/CMakeFiles/tdcr_sim.dir/link.d
build/CMakeFiles/tdcr_sim.dir/link.txt
build/CMakeFiles/tdcr_sim.dir/main.cpp.o
build/CMakeFiles/tdcr_sim.dir/main.cpp.o.d
build/CMakeFiles/tdcr_sim.dir/progress.make
build/bin/tdcr_sim
build/lib/libtdcr.so
build/lib/robot.so
build/.cmake/api/v1/reply/cache-v2-6e2e052580a66b38107e.json
build/.cmake/api/v1/reply/cmakeFiles-v1-efbcbd7216025b56dd6e.json
build/.cmake/api/v1/reply/codemodel-v2-f865044590d9378c1928.json
build/.cmake/api/v1/reply/directory-.-Debug-628ee3edbd5cd2cb637a.json
build/.cmake/api/v1/reply/index-2025-06-16T03-48-53-0297.json
build/.cmake/api/v1/reply/target-tdcr_physics-Debug-10f127de5b9548ddf926.json
build/.cmake/api/v1/reply/target-tdcr_sim-Debug-02c52e5e8cafe7acaf2d.json
build/CMakeFiles/tdcr_physics.dir/build.make
build/CMakeFiles/tdcr_physics.dir/cmake_clean.cmake
build/CMakeFiles/tdcr_physics.dir/compiler_depend.internal
build/CMakeFiles/tdcr_physics.dir/compiler_depend.make
build/CMakeFiles/tdcr_physics.dir/compiler_depend.ts
build/CMakeFiles/tdcr_physics.dir/depend.make
build/CMakeFiles/tdcr_physics.dir/DependInfo.cmake
build/CMakeFiles/tdcr_physics.dir/flags.make
build/CMakeFiles/tdcr_physics.dir/link.d
build/CMakeFiles/tdcr_physics.dir/link.txt
build/CMakeFiles/tdcr_physics.dir/progress.make
build/CMakeFiles/tdcr_physics.dir/src/pybindings.cpp.o
build/CMakeFiles/tdcr_physics.dir/src/pybindings.cpp.o.d
build/lib/tdcr_physics.so
build/install_manifest.txt
build/.cmake/api/v1/reply/cache-v2-eaa39c6f042dfbab42c1.json
build/.cmake/api/v1/reply/cmakeFiles-v1-c7ca438916292273c9ea.json
build/.cmake/api/v1/reply/codemodel-v2-dde68e2b8480ad762f00.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/directory-bindings-Debug-ee8ebbc59f6f823c8bc7.json
build/.cmake/api/v1/reply/directory-lib_tdcr-Debug-5b5903760cc10487e593.json
build/.cmake/api/v1/reply/index-2025-06-27T19-46-00-0602.json
build/.cmake/api/v1/reply/target-tdcr_cpp-Debug-cda1a814e8afed7af362.json
build/CMakeFiles/3.30.4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.30.4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.30.4/CMakeSystem.cmake
build/CMakeFiles/3.30.4/CompilerIdCXX/a.out
build/CMakeFiles/3.30.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/bindings/cmake_install.cmake
build/bindings/Makefile
build/bindings/CMakeFiles/CMakeDirectoryInformation.cmake
build/bindings/CMakeFiles/progress.marks
build/bindings/CMakeFiles/tdcr_cpp.dir/build.make
build/bindings/CMakeFiles/tdcr_cpp.dir/cmake_clean.cmake
build/bindings/CMakeFiles/tdcr_cpp.dir/compiler_depend.make
build/bindings/CMakeFiles/tdcr_cpp.dir/compiler_depend.ts
build/bindings/CMakeFiles/tdcr_cpp.dir/depend.make
build/bindings/CMakeFiles/tdcr_cpp.dir/DependInfo.cmake
build/bindings/CMakeFiles/tdcr_cpp.dir/flags.make
build/bindings/CMakeFiles/tdcr_cpp.dir/link.txt
build/bindings/CMakeFiles/tdcr_cpp.dir/progress.make
build/bindings/CMakeFiles/tdcr_cpp.dir/pybindings.cpp.o
build/bindings/CMakeFiles/tdcr_cpp.dir/pybindings.cpp.o.d
build/lib/tdcr_cpp.so
build/lib_tdcr/cmake_install.cmake
build/lib_tdcr/Makefile
build/lib_tdcr/CMakeFiles/CMakeDirectoryInformation.cmake
build/lib_tdcr/CMakeFiles/progress.marks
python/tdcr_torch.egg-info/dependency_links.txt
python/tdcr_torch.egg-info/PKG-INFO
python/tdcr_torch.egg-info/requires.txt
python/tdcr_torch.egg-info/SOURCES.txt
python/tdcr_torch.egg-info/top_level.txt
